{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list" width: 100%>
    {%- for post in paginator.posts -%}
    
      <section class="page-banner">
        <div class="page-banner-img">
            <div style="background-color: #0e0e0e"></div>
        </div>
        <div class="wrapper">
          <div class="page-banner-inner">
            {%- include views/chart.html -%}
          </div>
        </div>
      </section>
    {%- endfor -%}
  </ul>

  {%- include extensions/fade-in-charts.html -%}

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
