---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<!-- The layout for the "about" pages ("About the Project" and "Meet the Team").  -->

<!-- First, display the standard site header.  -->
{%- include views/post-header.html -%}

<!-- Next, format the main page content specified in the page's main file (in this case about.markdown or team.markdown)  -->
<main class="page-content" aria-label="About">
    <div class="wrapper">
      <div class="page-banner-inner">
        {{ content }}
      </div>
    </div>
</main>


